@include font-face("Mohave","../fonts/mohave");
@include font-face("Mohave SemiBold","../fonts/mohavesemibold");
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

html {
    font-size: 62.5%
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    color: #222;
    
}

section, div, h1,h2,h3,h4,h5,h6, ul, ol {
    margin: 0;
    padding: 0;
}

