/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
* Remove default margin.
*/
body {
  margin: 0; }

/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/
[hidden],
template {
  display: none; }

/* Links
========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a {
  background-color: transparent; }

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted; }

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold; }

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic; }

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
* Address styling not present in IE 8/9.
*/
mark {
  background: #ff0;
  color: #000; }

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
========================================================================== */
/**
* Remove border when inside `a` element in IE 8/9/10.
*/
img {
  border: 0; }

/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
  margin: 1em 40px; }

/**
* Address differences between Firefox and other browsers.
*/
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto; }

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
  overflow: visible; }

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none; }

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default; }

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal; }

/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
  overflow: auto; }

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold; }

/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Mohave";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mohave.eot?#iefix") format("embedded-opentype"), url("../fonts/mohave.woff2") format("woff2"), url("../fonts/mohave.woff") format("woff"), url("../fonts/mohave.ttf") format("truetype"), url("../fonts/mohave.svg#Mohave") format("svg"); }
@font-face {
  font-family: "Mohave SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mohavesemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/mohavesemibold.woff2") format("woff2"), url("../fonts/mohavesemibold.woff") format("woff"), url("../fonts/mohavesemibold.ttf") format("truetype"), url("../fonts/mohavesemibold.svg#Mohave SemiBold") format("svg"); }
@font-face {
  font-family: "Glober Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/globerthinfree.eot?#iefix") format("embedded-opentype"), url("../fonts/globerthinfree.woff2") format("woff2"), url("../fonts/globerthinfree.woff") format("woff"), url("../fonts/globerthinfree.ttf") format("truetype"), url("../fonts/globerthinfree.svg#Glober Thin") format("svg"); }
@font-face {
  font-family: "Glober Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/globersemiboldfree.eot?#iefix") format("embedded-opentype"), url("../fonts/globersemiboldfree.woff2") format("woff2"), url("../fonts/globersemiboldfree.woff") format("woff"), url("../fonts/globersemiboldfree.ttf") format("truetype"), url("../fonts/globersemiboldfree.svg#Glober Semibold") format("svg"); }
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #222; }

section, div, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
  width: 100%; }
  @media screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .container {
      width: 80%; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Vollkorn", "Times New Roman", serif;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -0.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -0.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

p {
  font-family: "Glober SemiBold", sans-serif; }

.stuck {
  position: fixed !important;
  top: 0; }

.main-header {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  z-index: 99;
  border-bottom: 1px #ccc solid;
  height: 56px;
  -webkit-box-shadow: -1px 3px 22px 5px transparent;
  -moz-box-shadow: -1px 3px 22px 5px transparent;
  box-shadow: -1px 3px 22px 5px transparent; }
  .main-header.stuck {
    z-index: 100;
    -webkit-box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
    box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23); }
  .main-header.mob-no-display {
    display: none; }
  .main-header.mob-display {
    display: block; }
  .main-header ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0; }
  .main-header .menu ul li {
    display: inline-block;
    min-width: 120px;
    position: relative; }
    .main-header .menu ul li a {
      text-decoration: none;
      font-variant: small-caps;
      font-family: "Glober Thin";
      color: #444;
      font-size: 2.5rem;
      font-weight: 700; }
    .main-header .menu ul li ul {
      display: none;
      position: absolute; }
      .main-header .menu ul li ul li {
        display: block;
        background: #444;
        color: #fff; }
      .main-header .menu ul li ul li:not(:last-child) {
        border-bottom: 1px #fff solid; }
    .main-header .menu ul li .underline {
      width: 100%;
      height: 33px;
      margin: 0 auto;
      position: absolute;
      opacity: 0.5;
      bottom: 0;
      background: #ae4475;
      transform: scalex(0);
      visibility: hidden;
      transition: visibility 0.5s, scalex 0.5s; }
      .main-header .menu ul li .underline.active {
        transform: scalex(1);
        visibility: visible;
        transition: visibility 0s, scalex 0.5s; }
  @media screen and (max-width: 568px) {
    .main-header .menu ul {
      display: none; }
      .main-header .menu ul.menu-show {
        display: block;
        position: absolute;
        width: 100%;
        background: #fff;
        top: 56px;
        left: 0;
        -webkit-box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
        box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23); }
      .main-header .menu ul li {
        display: block; }
        .main-header .menu ul li .underline {
          display: none; }
    .main-header .menu > ul > li:not(:last-child) {
      border-bottom: 1px #ccc solid; } }

.top-logo-wrapper {
  transition: 0.4s all ease; }
  .top-logo-wrapper.stuck {
    width: 100%;
    z-index: 101; }
    .top-logo-wrapper.stuck .logo {
      margin: 5px 10px; }

.logo-sprite {
  background-image: url("../images/spritesheet.png");
  background-repeat: no-repeat;
  display: block; }

.sprite-inv_logo {
  width: 44px;
  height: 40px;
  background-position: -5px -5px; }

.sprite-reg_logo {
  width: 44px;
  height: 40px;
  background-position: -5px -55px; }

.logo {
  z-index: 99;
  position: absolute;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s all ease; }
  @media screen and (max-width: 568px) {
    .logo {
      left: 41.5%; } }

#home {
  height: 90vh; }

.top-links {
  position: absolute;
  z-index: 100;
  color: #fff;
  padding: 10px;
  width: 100%;
  top: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.5));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.5));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));
  /* Standard syntax (must be last) */ }
  .top-links ul {
    margin: 0;
    padding: 0;
    float: right; }
    .top-links ul li {
      display: inline-block;
      margin: -5px 5px 0 5px; }
      .top-links ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 2rem; }
  @media screen and (max-width: 568px) {
    .top-links .info {
      float: left;
      text-align: left; }
      .top-links .info li {
        display: block; } }
  .top-links .top-contact {
    font-style: italic;
    font-family: "Glober Thin";
    float: right;
    margin-right: 20px; }
    @media screen and (min-width: 320px) and (max-width: 568px) {
      .top-links .top-contact {
        float: left; } }

.branding-wrapper {
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 35%; }
  .branding-wrapper h1 {
    text-align: center;
    color: #fff;
    font-size: 7em;
    margin-bottom: 0;
    font-family: "Mohave SemiBold"; }
  .branding-wrapper .tag-line {
    text-align: center;
    color: #fff;
    line-height: 10px;
    letter-spacing: 1px;
    font-family: "Mohave SemiBold"; }
    @media screen and (max-width: 320px) {
      .branding-wrapper .tag-line {
        line-height: 2px; } }
  .branding-wrapper .background-light {
    color: #fff; }
  @media screen and (max-width: 568px) {
    .branding-wrapper {
      top: 30%; }
      .branding-wrapper h1 {
        font-size: 5em; }
      .branding-wrapper .tag-line {
        font-size: 2rem; } }

#works {
  padding-bottom: 30px; }
  #works .section-heading {
    margin-bottom: 15px;
    position: relative; }
    #works .section-heading::after {
      clear: both;
      content: "";
      display: table; }
    #works .section-heading h2 {
      display: inline; }
      @media screen and (max-width: 568px) {
        #works .section-heading h2 {
          display: block;
          text-align: center; } }
    #works .section-heading .pf-menu {
      display: inline;
      float: right;
      margin-right: 20px;
      margin-bottom: 0;
      position: relative; }
      #works .section-heading .pf-menu::after {
        clear: both;
        content: "";
        display: table; }
      #works .section-heading .pf-menu div {
        position: relative;
        display: inline-block;
        top: -2px; }
      @media screen and (max-width: 568px) {
        #works .section-heading .pf-menu {
          display: block;
          text-align: center;
          float: none; } }
    #works .section-heading .pf-menu-trigger {
      color: #393939; }
      #works .section-heading .pf-menu-trigger .fa {
        transform: rotate(0deg);
        transition: 0.7s all ease; }
      #works .section-heading .pf-menu-trigger:hover {
        transition: 0.7s all ease; }
        #works .section-heading .pf-menu-trigger:hover h3 {
          background: #393939;
          color: #fff;
          border-color: transparent; }
        #works .section-heading .pf-menu-trigger:hover .fa {
          transform: rotate(90deg) scale(0.5);
          transition: 0.7s all ease; }
      #works .section-heading .pf-menu-trigger h3 {
        padding: 10px;
        border: 1px #ccc solid;
        margin: 0;
        line-height: 1px;
        background: #fff;
        color: #393939;
        transition: 0.7s all ease; }
      #works .section-heading .pf-menu-trigger.active h3 {
        background: #d2e33c;
        color: #fff;
        border-color: transparent; }
      #works .section-heading .pf-menu-trigger.active .fa {
        transform: rotate(90deg) scale(0.5); }
  #works #gallery-container {
    text-align: center; }
    @media screen and (min-width: 320px) and (max-width: 568px) {
      #works #gallery-container {
        padding-top: 30px; } }
    #works #gallery-container .gallery-item {
      display: inline-block;
      height: 300px;
      width: 300px;
      margin-top: -4px;
      margin-left: 1px;
      margin-right: 1px; }
      #works #gallery-container .gallery-item img {
        width: 100%;
        height: auto; }

.read-more-wrapper {
  text-align: right;
  font-family: "Glober SemiBold", sans-serif; }
  @media screen and (min-width: 320px) and (max-width: 568px) {
    .read-more-wrapper {
      text-align: center; } }

.pf-menu-wrapper {
  background: #393939;
  position: absolute;
  float: right;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  -webkit-box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.23); }
  .pf-menu-wrapper a {
    text-decoration: none;
    font-family: "Glober SemiBold", sans-serif;
    font-size: 1.3em;
    color: white; }
  .pf-menu-wrapper ul {
    list-style: none; }
  .pf-menu-wrapper li {
    cursor: pointer;
    padding: 5px 5px; }
    .pf-menu-wrapper li:hover {
      background: #ae4475; }
  .pf-menu-wrapper li:not(:last-child) {
    border-bottom: 1px #ddd solid; }
  .pf-menu-wrapper.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s; }
  @media screen and (max-width: 568px) {
    .pf-menu-wrapper {
      width: 93.5%; } }

#about {
  height: auto;
  background: rgba(0, 0, 0, 0.9) url("../images/test28.jpg") fixed no-repeat;
  background-size: cover; }
  #about .content-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 40px 0;
    color: #fff;
    position: absolute; }
    #about .content-wrapper .section-heading {
      padding-top: 0px !important; }
    #about .content-wrapper h3 {
      color: #ddd; }
    @media screen and (max-width: 568px) {
      #about .content-wrapper {
        position: relative; } }

#brands h4 {
  margin: 0; }
#brands #design-machine h4 {
  color: #ae4475; }
#brands #building-blocks h4 {
  color: #d2e33c; }
#brands #the-factory h4 {
  color: #ff6c2f; }
#brands p {
  margin-top: 0;
  margin-bottom: 2rem; }

#services h3 {
  padding-top: 20px; }

#contact {
  -webkit-box-shadow: 1px -15px 30px -9px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 1px -15px 30px -9px rgba(0, 0, 0, 0.38);
  box-shadow: 1px -15px 30px -9px rgba(0, 0, 0, 0.38); }
  #contact ul {
    list-style: none; }
  #contact .sm-links a {
    color: #444;
    font-size: 2.5rem; }
  #contact .sm-links li {
    display: inline-block;
    margin: 0 5px; }
  #contact .box {
    height: 50px; }
  #contact .left-block {
    font-family: "Vollkorn", "Times New Roman", serif;
    font-size: 2rem; }
  #contact .right-block {
    font-family: "Glober SemiBold", sans-serif; }
  @media screen and (max-width: 568px) {
    #contact .left-block, #contact .right-block {
      text-align: center; }
    #contact .left-block {
      font-size: 1.5em; }
    #contact .right-block {
      margin-bottom: 10px; } }

#instafeed {
  text-align: center; }
  #instafeed img {
    margin: 4px; }

.section-heading {
  padding-top: 20px; }
  .section-heading h2 {
    font-size: 4rem; }

.wrapper > section {
  min-height: 100vh;
  width: 100%; }

.section-heading {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .section-heading::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 568px) {
    .section-heading {
      text-align: center; } }

.section-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .section-content::after {
    clear: both;
    content: "";
    display: table; }

.left-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .left-block:last-child {
    margin-right: 0; }
  .left-block h3 {
    text-align: right;
    color: #555;
    transition: 0.3s color ease; }
    .left-block h3:hover {
      color: #333; }
  .left-block p {
    text-align: right; }
  @media screen and (max-width: 568px) {
    .left-block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .left-block:last-child {
        margin-right: 0; }
      .left-block h3 {
        text-align: center;
        margin: 1.5rem 0; }
      .left-block p {
        text-align: left; } }

.right-block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .right-block:last-child {
    margin-right: 0; }
  @media screen and (max-width: 568px) {
    .right-block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .right-block:last-child {
        margin-right: 0; }
      .right-block h3 {
        text-align: center; } }

.main-footer h4 {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
